<style>
    /* FONDO DEL FOOTER */
    .bg-footer {
        background-color: #1E40AB;
        color: white;
    }
</style>
<!-- FOOTER -->
<footer>
    <div class="container-fluid py-4 bg-footer text-white">
        <div class="container">
            <div class="row text-center text-md-start align-items-center">

                <!-- IZQUIERDA -->
                <div class="col-12 col-md-4 mb-4 mb-md-0 d-flex flex-column align-items-center align-items-md-start">

                    <!-- TEXTO TOP -->
                    <h5 class="fw-medium">General</h5>

                    <!-- LINKS -->
                    <div>
                        <p class="mb-0 fw-light"><a href="/index.php#inicio"
                                class="text-white text-decoration-none">Inicio</a></p>
                        <p class="mb-0 fw-light"><a href="/index.php#sobre-mi"
                                class="text-white text-decoration-none">Sobre
                                mí</a></p>
                        <p class="mb-0 fw-light"><a href="/index.php#proyectos"
                                class="text-white text-decoration-none">Proyectos</a></p>
                        <p class="mb-0 fw-light"><a href="/index.php#contacto"
                                class="text-white text-decoration-none">Contacto</a></p>
                    </div>

                </div>

                <!-- CENTRO -->
                <div class="col-12 col-md-4 mb-4 mb-md-0 text-center">

                    <!-- LOGO ACADEMIA -->
                    <img src="/img/logos/logo-academia.svg" class="w-50 mb-2" alt="Logo Academia TICS">

                    <!-- COPYRIGHT -->
                    <p class="mb-0 text-break fw-light">© 2025 Todos los derechos reservados.<br>
                        Disponible para nuevos proyectos.
                    </p>

                </div>

                <!-- DERECHA -->
                <div class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-end">

                    <!-- TEXTO TOP -->
                    <h5 class="fw-medium">Contacto</h5>

                    <!-- ICONO REDES -->
                    <div class="d-flex flex-column gap-2 align-items-end">

                        <!-- GitHub -->
                        <a href="https://github.com" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none text-white">
                            <div class="d-flex align-items-center gap-2">
                                <span class="fw-light">GitHub</span>
                                <img src="/img/icons/githubBlanco.svg" width="30px" alt="GitHub">
                            </div>
                        </a>

                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none text-white">
                            <div class="d-flex align-items-center gap-2">
                                <span class="fw-light">LinkedIn</span>
                                <img src="/img/icons/linkedinBlanco.svg" width="30px" alt="LinkedIn">
                            </div>
                        </a>

                        <!-- Email -->
                        <a href="https://www.gmail.com" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none text-white">
                            <div class="d-flex align-items-center gap-2">
                                <span class="fw-light">Email</span>
                                <img src="/img/icons/emailBlanco.svg" width="30px" alt="Email">
                            </div>
                        </a>

                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>